.index-container {
    margin: auto;
    margin-top: 50px;
    width: 650px;
}

#sign-up {
    display: none;
}

.btn-container {
    width: 100%;
    display: flex;
}

#btn-sign-in {
    width: 50%;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 10px 0 0 0;
    background-color: #2b6777;
    color: white;
}

#btn-sign-in:hover {
    opacity: 0.8;
}

#btn-sign-up {
    width: 50%;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 0 10px 0 0;
    background-color: #2b6777;
    color: white;
}

#btn-sign-up:hover {
    opacity: 0.8;
}

.form-container {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.25);
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.row {
    width: 100%;
    display: flex;
}

.input {
    width: 100%;
    margin: 20px 35px 20px 35px;
    padding: 15px;
    font-size: 17px;
}

.su-error-message {
    width: 100%;
    margin: 0 35px 0 35px;
    text-align: left;
    color: red;
}

.si-error-message {
    width: 100%;
    margin: 0 35px 0 35px;
    color: red;
}
