.navbar {
    overflow: hidden;
    background-color: #52ab98;
  }
  
  .navbar a {
    float: left;
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 1.2em;  
    border: none;
    outline: none;
    color: white;
    padding: 1em 1.2em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    opacity: 0.8;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 11em;
    box-shadow: 0px 0.6em 1.2em 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .signout{
    float: right;
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 1.2em 1.1em;
    text-decoration: none;
  }
  
  .receta{
      background-color: white;
      padding:0.8em 0.8em 3.12em 0.8em;
      border:1px solid #BFBFBF;
      box-shadow:0.8em 0.8em 3.12em rgba(0, 0, 0, 0.8);
      margin: 1.4em;
      margin-right:auto;
      margin-left:auto;
  }
  
  .btnReceta{
    overflow: hidden;
    background-color: #52ab98;
    font-size: 1.2em;  
    border: none;
    outline: none;
    color: white;
    padding: 1.1em 1.2em;
    font-family: inherit;
    margin: 0.5em;
  }
  
  .btnReceta:hover{
      opacity:0.8;
  }
  
  .imgBox{
  margin-top:2em;
  margin-right:auto;
  margin-left:auto;
  width: 28em;
  height: 18.8em;
  background: #CCC;
  overflow: hidden;
}

  .imgBox img{
  width: 100%;
  height: auto;
  }
@supports(object-fit: cover){
    .imgBox img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
 .nombre{
    font-size: 2.2em; 
 }
 
 .autor{
    color: #999999;
    font-size:1.1em;
 }
 
 .ingredientes{
     list-style-type: circle;
 }